# Do Blue Zone diets work in Berkeley?

##### Blue Zones are areas of the world where people live much longer than the rest of the population and there are only 5 Blue Zones in the world in countries such as Greece, Italy, Japan, USA, and Costa Rica. The longevity of the population is a reflection of the their culture, community, and most importantly diets since they all tend to lead healthy lifestyles. 
##### Our group wants to see how feasible it would be to eat a Blue Zone diet as Berkeley students as compared to our typical diets. To do this, we are testing a typical Mediterranean diet, eaten in Ikaria, Greece, and an Okinawa, Japan diet against a typical Berkeley student's diet to see which has the lowest price (with Berkeley Safeway prices) and most nutritional value.

### Dietary Reference Intakes

In [1]:
#checking that we are in the correct working directory
!pwd

#installing neccesary packages and access to fdc data 

!pip install -r requirements.txt #--upgrade

from  scipy.optimize import linprog as lp
import numpy as np
import pandas as pd

import fooddatacentral as fdc
import warnings

/home/jovyan/EEP153_Materials/Project2
Requirement already satisfied: Pint>=0.8.1 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (0.23)
Requirement already satisfied: numpy>=1.15.0 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 6)) (1.26.4)
Requirement already satisfied: pandas>=0.23.3 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 11)) (2.2.1)
Requirement already satisfied: requests>=2.20.0 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 15)) (2.31.0)
Requirement already satisfied: scipy>=1.1.0 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 18)) (1.12.0)
Requirement already satisfied: gspread in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 20)) (5.12.4)
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 22)) (3.3.0)
Requirement already satisfied: bottleneck>=1.3.6 in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 24)) (1.3.8)
Requirement already satisfied: eep153_tools in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 26)) (0.11)
Requirement already satisfied: fooddatacentral in /srv/conda/lib/python3.9/site-packages (from -r requirements.txt (line 28)) (1.0.10)
Requirement already satisfied: typing-extensions in /srv/conda/lib/python3.9/site-packages (from Pint>=0.8.1->-r requirements.txt (line 2)) (4.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.9/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.9/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.9/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2024.1)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.9/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.9/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.9/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/lib/python3.9/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (3.1.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /srv/conda/lib/python3.9/site-packages (from gspread->-r requirements.txt (line 20)) (0.4.5)
Requirement already satisfied: google-auth>=1.12.0 in /srv/conda/lib/python3.9/site-packages (from gspread->-r requirements.txt (line 20)) (2.28.1)
Requirement already satisfied: decorator in /srv/conda/lib/python3.9/site-packages (from gspread_pandas->-r requirements.txt (line 22)) (5.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.9/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (0.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /srv/conda/lib/python3.9/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (5.3.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.9/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.9/site-packages (from google-auth-oauthlib>=0.4.1->gspread->-r requirements.txt (line 20)) (1.3.1)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=0.23.3->-r requirements.txt (line 11)) (1.16.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /srv/conda/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread->-r requirements.txt (line 20)) (3.2.2)

In [2]:
#Read diet minimum data
diet_min = pd.read_csv("diet_minimums.csv")
#drop unneeded columns 
diet_min = diet_min.drop(columns=["Unnamed: 0"])
diet_min = diet_min.set_index('Nutrition')

diet_min
#set "Nutrition" as the index of the Dataframe 
#diet_min = diet_min.set_index('Nutrition')

,Source,C 1-3,F 4-8,M 4-8,F 9-13,M 9-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
Nutrition,,,,,,,,,,,,,,
Energy,---,1000.0,1200.0,1400.0,1600.0,1800.0,1800.0,2200.0,2000.0,2400.0,1800.0,2200.0,1600.0,2000.0
Protein,RDA,13.0,19.0,19.0,34.0,34.0,46.0,52.0,46.0,56.0,46.0,56.0,46.0,56.0
"Fiber, total dietary",---,14.0,16.8,19.6,22.4,25.2,25.2,30.8,28.0,33.6,25.2,30.8,22.4,28.0
"Folate, DFE",RDA,150.0,200.0,200.0,300.0,300.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
"Calcium, Ca",RDA,700.0,1000.0,1000.0,1300.0,1300.0,1300.0,1300.0,1000.0,1000.0,1000.0,1000.0,1200.0,1000.0
"Carbohydrate, by difference",RDA,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
"Iron, Fe",RDA,7.0,10.0,10.0,8.0,8.0,15.0,11.0,18.0,8.0,18.0,8.0,8.0,8.0
"Magnesium, Mg",RDA,80.0,130.0,130.0,240.0,240.0,360.0,410.0,310.0,400.0,320.0,420.0,320.0,420.0
Niacin,RDA,6.0,8.0,8.0,12.0,12.0,14.0,16.0,14.0,16.0,14.0,16.0,14.0,16.0
"Phosphorus, P",RDA,460.0,500.0,500.0,1250.0,1250.0,1250.0,1250.0,700.0,700.0,700.0,700.0,700.0,700.0
"Potassium, K",AI,3000.0,3800.0,3800.0,4500.0,4500.0,4700.0,4700.0,4700.0,4700.0,4700.0,4700.0,4700.0,4700.0
Riboflavin,RDA,0.5,0.6,0.6,0.9,0.9,1.0,1.3,1.1,1.3,1.1,1.3,1.1,1.3
Thiamin,RDA,0.5,0.6,0.6,0.9,0.9,1.0,1.2,1.1,1.2,1.1,1.2,1.1,1.2
"Vitamin A, RAE",RDA,300.0,400.0,400.0,600.0,600.0,700.0,900.0,700.0,900.0,700.0,900.0,700.0,900.0
Vitamin B-12,RDA,0.9,1.2,1.2,1.8,1.8,2.4,2.4,2.4,2.4,2.4,2.4,2.4,2.4
Vitamin B-6,RDA,0.5,0.6,0.6,1.0,1.0,1.2,1.3,1.3,1.3,1.3,1.3,1.5,1.7
"Vitamin C, total ascorbic acid",RDA,15.0,25.0,25.0,45.0,45.0,65.0,75.0,75.0,90.0,75.0,90.0,75.0,90.0
Vitamin E (alpha-tocopherol),RDA,6.0,7.0,7.0,11.0,11.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
Vitamin K (phylloquinone),AI,30.0,55.0,55.0,60.0,60.0,75.0,75.0,90.0,120.0,90.0,120.0,90.0,120.0
"Zinc, Zn",RDA,3.0,5.0,5.0,8.0,8.0,9.0,11.0,8.0,11.0,8.0,11.0,8.0,11.0

In [3]:
def dietary_ref_intake(age,sex,df):
    """Takes in age and sex, and returns the dietary reference intake for the chosen population"""

    if age <= 3:
        col = 'C 1-3'
    age_ranges = [(4,8),(9,13),(14,18),(19,30),(31,50),(50,100)]
    for age_range in age_ranges:
        if age >= age_range[0] and age <= age_range[1]:
            col = sex + ' ' + str(age_range[0]) + '-' + str(age_range[1])
    return pd.Series(df[col])

In [4]:
# Example of minimum dietary requirements for a male aged 19
dietary_ref_intake(age=19,sex='F',df=diet_min)

Nutrition
Energy                            2000.0
Protein                             46.0
Fiber, total dietary                28.0
Folate, DFE                        400.0
Calcium, Ca                       1000.0
Carbohydrate, by difference        130.0
Iron, Fe                            18.0
Magnesium, Mg                      310.0
Niacin                              14.0
Phosphorus, P                      700.0
Potassium, K                      4700.0
Riboflavin                           1.1
Thiamin                              1.1
Vitamin A, RAE                     700.0
Vitamin B-12                         2.4
Vitamin B-6                          1.3
Vitamin C, total ascorbic acid      75.0
Vitamin E (alpha-tocopherol)        15.0
Vitamin K (phylloquinone)           90.0
Zinc, Zn                             8.0
Name: F 19-30, dtype: float64

## Function to Solve Lowest Cost

In [5]:
def solve_subsistence_problem(FoodNutrients,Prices,dietmin,dietmax,max_weight=None,tol=1e-6):
    """Solve Stigler's Subsistence Cost Problem.

    Inputs:
       - FoodNutrients : A pd.DataFrame with rows corresponding to foods, columns to nutrients.
       - Prices : A pd.Series of prices for different foods
       - diet_min : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing minimum intakes.
       - diet_max : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing maximum intakes.
       - max_weight : Maximum weight (in hectograms) allowed for diet.
       - tol : Solution values smaller than this in absolute value treated as zeros.
       
    """
    try: 
        p = Prices.apply(lambda x:x.magnitude)
    except AttributeError:  # Maybe not passing in prices with units?
        warnings.warn("Prices have no units.  BE CAREFUL!  We're assuming prices are per hectogram or deciliter!")
        p = Prices

    p = p.dropna()

    # Compile list that we have both prices and nutritional info for; drop if either missing
    use = p.index.intersection(FoodNutrients.columns)
    p = p[use]

    # Drop nutritional information for foods we don't know the price of,
    # and replace missing nutrients with zeros.
    Aall = FoodNutrients[p.index].fillna(0)

    # Drop rows of A that we don't have constraints for.
    Amin = Aall.loc[Aall.index.intersection(dietmin.index)]
    Amin = Amin.reindex(dietmin.index,axis=0)
    idx = Amin.index.to_frame()
    idx['type'] = 'min'
    #Amin.index = pd.MultiIndex.from_frame(idx)
    #dietmin.index = Amin.index
    
    Amax = Aall.loc[Aall.index.intersection(dietmax.index)]
    Amax = Amax.reindex(dietmax.index,axis=0)
    idx = Amax.index.to_frame()
    idx['type'] = 'max'
    #Amax.index = pd.MultiIndex.from_frame(idx)
    #dietmax.index = Amax.index

    # Minimum requirements involve multiplying constraint by -1 to make <=.
    A = pd.concat([Amin,
                   -Amax])

    b = pd.concat([dietmin,
                   -dietmax]) # Note sign change for max constraints

    # Make sure order of p, A, b are consistent
    A = A.reindex(p.index,axis=1)
    A = A.reindex(b.index,axis=0)

    if max_weight is not None:
        # Add up weights of foods consumed
        A.loc['Hectograms'] = -1
        b.loc['Hectograms'] = -max_weight
        
    # Now solve problem!  (Note that the linear program solver we'll use assumes
    # "less-than-or-equal" constraints.  We can switch back and forth by
    # multiplying $A$ and $b$ by $-1$.)

    result = lp(p, -A, -b, method='highs')

    result.A = A
    result.b = b
    
    if result.success:
        result.diet = pd.Series(result.x,index=p.index)
    else: # No feasible solution?
        warnings.warn(result.message)
        result.diet = pd.Series(result.x,index=p.index)*np.nan  

    return result

## Generic Berkeley Student Diet

In [6]:
from  scipy.optimize import linprog as lp
import numpy as np
import warnings

In [7]:
apikey = "sCD07VKZEF2pe7ewJNYSSWlOHY0nRMda34HLcp80"

In [8]:
%pip install pandas
%pip install gnupg

Requirement already satisfied: pandas in /srv/conda/lib/python3.9/site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /srv/conda/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gnupg in /srv/conda/lib/python3.9/site-packages (2.3.1)
Requirement already satisfied: psutil>=1.2.1 in /srv/conda/lib/python3.9/site-packages (from gnupg) (5.9.8)
Note: you may need to restart the kernel to use updated packages.

#### Prices for Generic Berkeley Diet

In [9]:
SHEETs = [# BERKELEY DIET foods, Berkeley prices
          ("https://docs.google.com/spreadsheets/d/11Ou4aZ8bE12J6dY9hmyUeCFFCNpplexnOGtfJVKdgbY/edit#gid=628663795","GENERIC"),
         ]

In [10]:
import pandas as pd
from eep153_tools.sheets import read_sheets

df = read_sheets(SHEETs[0][0])[SHEETs[0][1]]
df
df['FDC'] = pd.to_numeric(df['FDC'], errors='coerce').fillna(0).astype(int)

print(df)

Key available for students@eep153.iam.gserviceaccount.com.

/srv/conda/lib/python3.9/site-packages/eep153_tools/sheets.py:150: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  D[w.title]=df.apply(lambda x: pd.to_numeric(x,errors='ignore'))

        FDC                     Food  Quantity   Units  Price                  \
0   2646170           Chicken Breast       1.0     lbs   4.99 NaN NaN NaN NaN
1   2100593           Chicken Thighs       1.0     lbs   2.99 NaN NaN NaN NaN
2   1990910     Ground Chicken (96%)       1.0     lbs   8.69 NaN NaN NaN NaN
3   2033779      Ground Turkey (93%)       1.0     lbs   3.99 NaN NaN NaN NaN
4   2546569     Smoked Turkey Breast       1.0     lbs  10.99 NaN NaN NaN NaN
5   2641764    Roasted Turkey Breast       1.0     lbs   5.00 NaN NaN NaN NaN
6   2646168  Boneless Pork Loin chop       1.0     lbs   8.99 NaN NaN NaN NaN
7   1942314        Ground Beef (80%)       1.0     lbs   4.99 NaN NaN NaN NaN
8   2157166                    Steak       1.0     lbs   6.99 NaN NaN NaN NaN
9   2341312               Lamb Chops       1.0     lbs  12.99 NaN NaN NaN NaN
10  2064258              Pink Salmon       1.0     lbs   5.99 NaN NaN NaN NaN
11  2486028          Atlantic Salmon       1.0     lbs  15.99 NaN NaN NaN NaN
12  1899566               Raw Shrimp       1.0     lbs  12.99 NaN NaN NaN NaN
13  2099857                Cod fish        1.0     lbs  12.99 NaN NaN NaN NaN
14  2341759               Whole Crab       1.0     lbs  16.99 NaN NaN NaN NaN
15  2346388          Iceberg lettuce       1.0     lbs   2.99 NaN NaN NaN NaN
16   169975                  Cabbage       1.0     lbs   1.49 NaN NaN NaN NaN
17  2099349                  Spinach       1.0     lbs   3.99 NaN NaN NaN NaN
18  1602525                     Kale       1.0     lbs   3.99 NaN NaN NaN NaN
19  2630019                  Arugula       1.0     lbs   1.99 NaN NaN NaN NaN
20  1581588             Yellow onion       1.0     lbs    NaN NaN NaN NaN NaN
21  1605785                Red onion       1.0     lbs   2.49 NaN NaN NaN NaN
22  1104962              White onion       1.0     lbs   1.99 NaN NaN NaN NaN
23  2079038                  Carrots       1.0     lbs   1.49 NaN NaN NaN NaN
24   170032                   Potato       1.0     lbs   0.80 NaN NaN NaN NaN
25  2345210             Sweet potato       1.0     lbs   1.99 NaN NaN NaN NaN
26   447185                   Celery       1.0     lbs   2.99 NaN NaN NaN NaN
27  2625307                     Peas       1.0     lbs   2.72 NaN NaN NaN NaN
28  2390911                Asparagus       1.0     lbs   2.99 NaN NaN NaN NaN
29  2625695              Green beans       1.0     lbs   2.99 NaN NaN NaN NaN
30  2155640                     Corn       1.0     lbs   2.08 NaN NaN NaN NaN
31  2345304                 Cucumber       1.0     lbs   2.99 NaN NaN NaN NaN
32  2428955                 Zucchini       1.0     lbs   2.99 NaN NaN NaN NaN
33  2422987                   Hummus       1.0     lbs   8.00 NaN NaN NaN NaN
34  2068232       Chickpeas (canned)       1.0     lbs   2.08 NaN NaN NaN NaN
35   747447                 Broccoli       NaN     lbs   3.49 NaN NaN NaN NaN
36  2345292          Brussel sprouts       NaN     lbs   3.99 NaN NaN NaN NaN
37  2258588         Green bell peper       NaN     lbs   3.00 NaN NaN NaN NaN
38   169251    Whole White Mushrooms       1.0     lbs   3.99 NaN NaN NaN NaN
39  1514730    Athenos Crumbled Feta       1.0     lbs  13.28 NaN NaN NaN NaN
40   168593       Sunflower seed oil       1.0     lbs   4.32 NaN NaN NaN NaN
41  2436046    Almonds, raw unsalted       1.0     lbs   7.99 NaN NaN NaN NaN
42  2043707          Diamond Walnuts       1.0     lbs   6.99 NaN NaN NaN NaN
43   577532                     Eggs      12.0  xl_egg   5.99 NaN NaN NaN NaN
44  2043707   Extra Virgin Olive Oil       1.0     lbs   7.52 NaN NaN NaN NaN
45  2343304          tortilla bread        1.0     lbs   4.49 NaN NaN NaN NaN
46  2108502             kidney beans       1.0     lbs   1.60 NaN NaN NaN NaN
47  2460616             lowfat milk        1.0     lbs    NaN NaN NaN NaN NaN
48  1625379       mozzerella cheese        1.0     lbs   4.95 NaN NaN NaN NaN
49  2618375    o organics spring mix       1.0     lbs   7.20 NaN NaN NaN NaN
50  2155344                 avocados       1.0     lbs   5.00 NaN NaN NaN NaN

               Iron  Vitamin A Vitamin C
0  NaN NaN NaN             NaN
1  NaN NaN NaN             NaN
2  NaN NaN NaN             NaN
3  NaN NaN NaN             NaN
4  NaN NaN NaN             NaN
5  NaN NaN NaN             NaN
6  NaN NaN NaN             NaN
7  NaN NaN NaN             NaN
8  NaN NaN NaN             NaN
9  NaN NaN NaN             NaN
10 NaN NaN NaN             NaN
11 NaN NaN NaN             NaN
12 NaN NaN NaN             NaN
13 NaN NaN NaN             NaN
14 NaN NaN NaN             NaN
15 NaN NaN NaN  17%        0.0       55%
16 NaN NaN NaN             NaN
17 NaN NaN NaN             NaN
18 NaN NaN NaN             NaN
19 NaN NaN NaN             NaN
20 NaN NaN NaN             NaN
21 NaN NaN NaN             NaN
22 NaN NaN NaN             NaN
23 NaN NaN NaN             NaN
24 NaN NaN NaN             NaN
25 NaN NaN NaN             NaN
26 NaN NaN NaN             NaN
27 NaN NaN NaN             NaN
28 NaN NaN NaN             NaN
29 NaN NaN NaN             NaN
30 NaN NaN NaN             NaN
31 NaN NaN NaN             NaN
32 NaN NaN NaN             NaN
33 NaN NaN NaN             NaN
34 NaN NaN NaN             NaN
35 NaN NaN NaN             NaN
36 NaN NaN NaN             NaN
37 NaN NaN NaN             NaN
38 NaN NaN NaN             NaN
39 NaN NaN NaN             NaN
40 NaN NaN NaN             NaN
41 NaN NaN NaN             NaN
42 NaN NaN NaN             NaN
43 NaN NaN NaN             NaN
44 NaN NaN NaN             NaN
45 NaN NaN NaN             NaN
46 NaN NaN NaN             NaN
47 NaN NaN NaN             NaN
48 NaN NaN NaN             NaN
49 NaN NaN NaN             NaN
50 NaN NaN NaN             NaN

#### Nutritional Information for Berkeley Diet Foods

In [ ]:
import fooddatacentral as fdc
import warnings

D = {}
count = 0
for food in df.Food.tolist():
    try:
        FDC = df.loc[df.Food==food,:].FDC[count]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find FDC Code %s for food %s." % (food, FDC))        

FoodNutrients = pd.DataFrame(D,dtype=float)
FoodNutrients

In [14]:
# Unit Conversion
# Convert food quantities to FDC units
df['FDC Quantity'] = df[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
df['FDC Price'] = df['Price']/df['FDC Quantity']

df.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
Prices = df.groupby('Food',sort=False)['FDC Price'].min()

/srv/conda/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:1598: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  result[:] = values

#### Berkeley Result

In [15]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,Prices,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

NameError: name 'diet_max' is not defined

## Mediterranean Diet

#### Prices for Mediterranean Diet

In [16]:
mSHEETs = [# MEDITERRANEAN foods, Berkeley prices
          ("https://docs.google.com/spreadsheets/d/11Ou4aZ8bE12J6dY9hmyUeCFFCNpplexnOGtfJVKdgbY/edit#gid=628663795","MED"),
         ]

In [17]:
import pandas as pd
from eep153_tools.sheets import read_sheets

mdf = read_sheets(mSHEETs[0][0])[mSHEETs[0][1]]
mdf
mdf['FDC'] = pd.to_numeric(mdf['FDC'], errors='coerce').fillna(0).astype(int)

print(mdf)

Key available for students@eep153.iam.gserviceaccount.com.

/srv/conda/lib/python3.9/site-packages/eep153_tools/sheets.py:150: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  D[w.title]=df.apply(lambda x: pd.to_numeric(x,errors='ignore'))

        FDC                              Food  Quantity Units  Price
0   2617829                           Spinach       1.0   lbs   3.99
1   2345103                              Kale       1.0   lbs   3.99
2   2345103                           Arugula       1.0   lbs   1.99
3   2345315                         Red onion       1.0   lbs   2.49
4   2345173                           Carrots       1.0   lbs   1.49
5   2344876                            Potato       1.0   lbs   0.80
6   2345212              Sweet potato (baked)       1.0   lbs   1.99
7   2345298                            Celery       1.0   lbs   2.99
8   2415908                              Peas       1.0   lbs   2.72
9   2345357  Asparagus (cooked, no added fat)       1.0   lbs   2.99
10  2155640                              Corn       1.0   lbs   2.08
11  2345304                          Cucumber       1.0   lbs   2.99
12   169291                          Zucchini       1.0   lbs   2.99
13  2058464                            Hummus       1.0   lbs   8.00
14  2342893                Chickpeas (canned)       1.0   lbs   2.08
15  2345151                          Broccoli       NaN   lbs   3.49
16  2345292                   Brussel sprouts       NaN   lbs   3.99
17   169251             Whole White Mushrooms       1.0   lbs   3.99
18  2654788             Athenos Crumbled Feta       1.0   lbs  13.28
19  2282540      Sign. Select Sunflower Seeds       1.0   lbs   4.32
20  2342966             Almonds, raw unsalted       1.0   lbs   7.99
21  2469861                   Diamond Walnuts       1.0   lbs   6.99
22   577532                              EGGS       NaN   lbs    NaN
23  2577037            Extra Virgin Olive Oil       1.0   lbs   7.52
24  2342858                      kidney beans       1.0   lbs   1.60
25  2428561                      lowfat milk        NaN   lbs    NaN
26  2035459             o organics spring mix       1.0   lbs   7.20
27  2344719                          avocados       NaN   lbs    NaN
28   330137         nonfat plain greek yogurt       1.0   lbs   2.56

In [18]:
from eep153_tools.sheets import read_sheets

DRI_url = "https://docs.google.com/spreadsheets/d/1y95IsQ4HKspPW3HHDtH7QMtlDA66IUsCHJLutVL-MMc/"

DRIs = read_sheets(DRI_url)

# Define *minimums*
diet_min = DRIs['diet_minimums'].set_index('Nutrition')

# Define *maximums*
diet_max = DRIs['diet_maximums'].set_index('Nutrition')

Key available for students@eep153.iam.gserviceaccount.com.

/srv/conda/lib/python3.9/site-packages/eep153_tools/sheets.py:150: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  D[w.title]=df.apply(lambda x: pd.to_numeric(x,errors='ignore'))

#### Nutritional Information for Med Diet

In [19]:
import fooddatacentral as fdc
import warnings

D = {}
count = 0
for food in mdf.Food.tolist():
    try:
        FDC = mdf.loc[mdf.Food==food,:].FDC[count]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find FDC Code %s for food %s." % (food, FDC))        

FoodNutrients = pd.DataFrame(D,dtype=float)
FoodNutrients

,Spinach,Kale,Arugula,Red onion,Carrots,Potato,Sweet potato (baked),Celery,Peas,"Asparagus (cooked, no added fat)",...,Sign. Select Sunflower Seeds,"Almonds, raw unsalted",Diamond Walnuts,EGGS,Extra Virgin Olive Oil,kidney beans,lowfat milk,o organics spring mix,avocados,nonfat plain greek yogurt
Alanine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.350
"Alcohol, ethyl",NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,...,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN
Amino acids,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Arginine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.363
Ash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vitamin K (Menaquinone-4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Vitamin K (phylloquinone),482.4,390.00,390.00,0.40,13.20,3.90,2.30,29.30,NaN,44.60,...,NaN,3.30,NaN,NaN,NaN,6.80,NaN,NaN,21.00,0.000
Vitamins and Other Components,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Water,NaN,89.60,89.60,90.30,88.30,72.10,75.50,95.40,NaN,92.40,...,NaN,2.34,NaN,NaN,NaN,63.30,NaN,NaN,73.20,85.000
"Zinc, Zn",NaN,0.39,0.39,0.17,0.24,0.28,0.32,0.13,NaN,0.58,...,NaN,3.21,NaN,NaN,NaN,1.03,NaN,NaN,0.64,0.530

In [20]:
# Unit Conversion
# Convert food quantities to FDC units
mdf['FDC Quantity'] = mdf[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
mdf['FDC Price'] = mdf['Price']/mdf['FDC Quantity']

mdf.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
Prices = mdf.groupby('Food',sort=False)['FDC Price'].min()

/srv/conda/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:1598: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  result[:] = values

In [21]:
from eep153_tools.sheets import read_sheets

DRI_url = "https://docs.google.com/spreadsheets/d/1y95IsQ4HKspPW3HHDtH7QMtlDA66IUsCHJLutVL-MMc/"

DRIs = read_sheets(DRI_url)

# Define *minimums*
diet_min = DRIs['diet_minimums'].set_index('Nutrition')

# Define *maximums*
diet_max = DRIs['diet_maximums'].set_index('Nutrition')

Key available for students@eep153.iam.gserviceaccount.com.

/srv/conda/lib/python3.9/site-packages/eep153_tools/sheets.py:150: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  D[w.title]=df.apply(lambda x: pd.to_numeric(x,errors='ignore'))

#### Mediterranean Result

In [22]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,Prices,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet for M 19-30 is $6.81 per day.


Diet (in 100s of grams or milliliters):
Arugula                      2.419039
Carrots                      0.272117
Potato                       4.545550
Almonds, raw unsalted        0.837051
kidney beans                 4.091684
nonfat plain greek yogurt    3.428571
dtype: float64


With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2626.096640          2400.0
Protein                          103.720924            56.0
Fiber, total dietary              58.649977            33.6
Folate, DFE                      400.000000           400.0
Calcium, Ca                     1440.749138          1000.0
Carbohydrate, by difference      236.648705           130.0
Iron, Fe                          17.278414             8.0
Magnesium, Mg                    660.297749           400.0
Niacin                            16.000000            16.0
Phosphorus, P                   1933.803972           700.0
Potassium, K                    5454.215025          4700.0
Riboflavin                         3.314227             1.3
Thiamin                            1.571477             1.2
Vitamin A, RAE                   900.000000           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        2.660926             1.3
Vitamin C, total ascorbic acid   287.864070            90.0
Vitamin E (alpha-tocopherol)      24.453192            15.0
Vitamin K (phylloquinone)        995.330494           120.0
Zinc, Zn                          11.000000            11.0
Sodium, Na                      2300.000000          2300.0
Energy                          2626.096640          3100.0


Constraining nutrients are:
['Folate, DFE', 'Niacin', 'Vitamin A, RAE', 'Vitamin B-12', 'Zinc, Zn', 'Sodium, Na']

## Okinawa Diet

#### Prices for Okinawa Diet

In [23]:
oSHEETs = [# OKINAWA foods, Berkeley prices
          ("https://docs.google.com/spreadsheets/d/11Ou4aZ8bE12J6dY9hmyUeCFFCNpplexnOGtfJVKdgbY/edit#gid=628663795","OKINAWA"),
         ]

In [24]:
import pandas as pd
from eep153_tools.sheets import read_sheets

odf = read_sheets(oSHEETs[0][0])[oSHEETs[0][1]]
odf
odf['FDC'] = pd.to_numeric(odf['FDC'], errors='coerce').fillna(0).astype(int)

print(odf)

Key available for students@eep153.iam.gserviceaccount.com.

/srv/conda/lib/python3.9/site-packages/eep153_tools/sheets.py:150: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  D[w.title]=df.apply(lambda x: pd.to_numeric(x,errors='ignore'))

        FDC               Food  Quantity Units   Price
0    451884     Sweet potatoes         1   lbs    1.99
1   2345512            Seaweed         1   lbs   79.84
2   2029705               Kelp         1   lbs  184.00
3   2029502      Bamboo shoots         1   lbs   19.36
4   2345503     Daikon raddish         1   lbs    2.49
5   1548192       Bitter melon         1   lbs    5.99
6    169975            Cabbage         1   lbs    1.49
7   2079038            Carrots         1   lbs    1.49
8    169260       Chinese okra         1   lbs    6.72
9   2653425            Pumpkin         1   lbs    4.64
10   169926       Green papaya         1   lbs    3.99
11  2343861             Millet         1   lbs   17.45
12  2343200              Wheat         1   lbs    4.00
13   356554               Rice         1   lbs    0.80
14  2008214  Buckwheat noodles         1   lbs    7.52
15  2294522               Tofu         1   lbs    3.36
16  2342914               Miso         1   lbs    6.72
17  2342915              Natto         1   lbs     NaN
18  2550119            Edamame         1   lbs    2.99
19  2341729         White fish         1   lbs   12.99
20   171963            Grouper         1   lbs   16.48
21  2341723               Tuna         1   lbs   14.72
22  2135930               Pork         1   lbs    1.99
23  2485326              Dashi         1   lbs   28.80

#### Nutritional Information for Okinawa Diet

In [ ]:
import fooddatacentral as fdc
import warnings

D = {}
count = 0
for food in odf.Food.tolist():
    try:
        FDC = odf.loc[odf.Food==food,:].FDC[count]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find FDC Code %s for food %s." % (food, FDC))        

FoodNutrients = pd.DataFrame(D,dtype=float)
FoodNutrients

In [ ]:
# Unit Conversion
# Convert food quantities to FDC units
odf['FDC Quantity'] = odf[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
odf['FDC Price'] = odf['Price']/odf['FDC Quantity']

odf.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
Prices = odf.groupby('Food',sort=False)['FDC Price'].min()

In [ ]:
from eep153_tools.sheets import read_sheets

DRI_url = "https://docs.google.com/spreadsheets/d/1y95IsQ4HKspPW3HHDtH7QMtlDA66IUsCHJLutVL-MMc/"

DRIs = read_sheets(DRI_url)

# Define *minimums*
diet_min = DRIs['diet_minimums'].set_index('Nutrition')

# Define *maximums*
diet_max = DRIs['diet_maximums'].set_index('Nutrition')

#### Okinawa Result

In [32]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,Prices,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

/tmp/ipykernel_283/2287643672.py:74: UserWarning: The problem is infeasible. (HiGHS Status 8: model_status is Infeasible; primal_status is At lower/fixed bound)
  warnings.warn(result.message)

TypeError: must be real number, not NoneType